<h1>News in Context</h1>
<p>
  <h2>This is the home page.</h2>
</p>
<p>
   Here we collect articles from the web and cluster them based on their similarity. 
   In each cluster we try to find the different bias present in the articles.
</p>
