<div>
	<h3>Here you can cluster the news articles on a criteria or view the previous clusters formed.</h3>
	</br><p>What do you want to do?</p>
        </div>

        <div> 
	 	<li><%= link_to "Cluster the articles", clusterform_path %></li>
        </div>
	
        <div > 
	 	<li><%= link_to "Display present clusters", clusterstore_path %></li>
        </div>

 
