<h1>Listing the articles of the cluster</h1>


<table>
 <% @feedentries.each do |feedentry| %>
   <tr>
    <!-- <td> <%= feedentry.summary%> </td> -->
    <td><%= feedentry.title %></td>
  <td><%= link_to 'Show', feedentry %></td></tr>
<% end %> 
</table>
<%#= @feed %>
