<h1>Listing the articles of the cluster</h1>
 <% @feedentries.each do |feedentry| %>
   <tr>
    <td>TITLE: <%= feedentry.title %></td></br>
   <td>SUMMARY:  <%= feedentry.summary%> </td></br>
  <td><%= link_to '	Show	', feedentry %></td></br></tr>
<% end %> 
<div > 
	 	<li><%= link_to "Display clusters", clusterstore_path %></li>
</div>

