<h1>Cluster#home</h1>
<p>Find me in app/views/cluster/home.html.erb</p>
<p>What do u want to cluster based on </p><br>
<form>
<input type="radio" name="searchtype" value="date">DATE<br>
<input type="radio" name="searchtype" value="words">WORDS
</form>
<form method="post" action="validate">
<textarea name="input" cols="50" rows="1">
  Enter Search date/words here.....
</textarea><br>
<input type="submit" value="Submit" />
</form>
